body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;

}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-signin-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin .form-signin-middle {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.form-signin .form-signin-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.form-signin input.ng-valid.ng-dirty {
  border-color: #78FA89;
}

ul.error {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.error {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import "bower_components/angular-upload/src/directives/btnUpload.less";


div[id^='map'] {
    height:420px;
    margin-top: 5px;
    margin-bottom: 5px;

}

div.left-column {
    height:190px;

}

p.trip-description {

    margin-top: 15px;
    font-size: 18px;
}

.btn-custom, .btn-custom:hover {
  background-color: #1d9d74;
  border-color: #1d9d74;
  color: #ffffff;
}

.jumbotron {
  margin-top:-20px;
  padding: 15px;
  margin-bottom: 15px;
  color: #ffffff;
  background-color: #1d9d74;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #157254;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1.5px solid #ccc;
    margin: 1em 0; padding: 0;
}