<!DOCTYPE html>
<html ng-app="tripStoryApp" ng-controller="MainController as mainCtr">
<head>
    <title>TravelStory</title>
    <meta name="viewport" content="width=520, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">

    <!-- Fontawesome css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-image-gallery.min.css">


    <!-- Custom css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <!-- Fixed navbar -->
    <div ng-show="mainCtr.showNavbar()"
        class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#dashboard"><i class="fa fa-flag"></i> TravelStory</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/dashboard') }"><a href="#dashboard">Home</a></li>
            <li ng-class="{active: isActive('/map') }"><a href="#map">New Story</a></li>
            <li ng-class="{active: isActive('/profile') }"><a href="#profile">My Profile</a></li>
            <li ng-class="{active: isActive('/about') }"><a href="#about">About</a></li>
          </ul>
          <div ng-show="$root.loggedIn" class="nav navbar-nav navbar-text navbar-right">
            Hi {{$root.user.username}} <a ng-click="mainCtr.logout()" href >Logout</a>
          </div>
        </div>
      </div>
    </div>

    <div ng-view></div>

   <!-- JQuery + Angular -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src='bower_components/angular-upload/angular-upload.min.js'></script>
    <script src="node_modules/angular-hashtagify/angular-hashtagify.min.js"></script>
    <script src='/static/js/jquery.blueimp-gallery.min.js'></script>
    <script src='/static/js/bootstrap-image-gallery.min.js'></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/service.js"></script>
    <script src="/static/js/login/login.js"></script>
    <script src="/static/js/register/register.js"></script>
    <script src="/static/js/dashboard/dashboard.js"></script>
    <script src="/static/js/map/map.js"></script>
    <script src="/static/js/hashtag/hashtag.js"></script>
    <script src="/static/js/profile/profile.js"></script>
    <script src="/static/js/share/share.js"></script>
    <script src="/static/js/explore/explore.js"></script>
    <script src="/static/js/exploreprofile/exploreprofile.js"></script>
    <script src="/static/js/explorehashtag/explorehashtag.js"></script>
    <script src="/static/js/story/story.js"></script>



    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1490792204525507',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>

