
    <div class="jumbotron jumbotron-ad hidden-print">
      <div class="container">
        <p>Pin your awesome travel experience</p>
      </div>
    </div>

    <div class="container">
        <form role="form" novalidate>
            <div class="row">
                <div class="col-sm-6">
                        <textarea rows="2" type="text" class="form-control" placeholder="Describe your trip"
                            ng-model="trip.name" required autofocus></textarea>
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                        <div id="map"></div>

                        <button
                            class="btn btn-lg btn-custom"
                            ng-show="mapCtr.showSaveTripButton()"
                            ng-click="mapCtr.saveTrip(trip.name)">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                            Save your trip
                        </button>

                </div>
                <div class="col-sm-6">
                  <div class="left-column">
                    <textarea ng-show="mapCtr.showDeleteButton()"
                        style="margin-bottom:5px"
                        ng-change="mapCtr.updateDescription(trip)"
                        class="form-control" rows="4" ng-model="trip.description"
                        placeholder="Describe this location"></textarea>
                    <button type="from-control button"
                        class="btn btn-custom"
                        ng-show="mapCtr.showSaveButton()"
                        ng-click="mapCtr.saveLocation(trip)">
                        <span class="glyphicon glyphicon-pushpin"></span>
                        Pin this location</button>



                        <button
                          ng-show="mapCtr.showDeleteButton()"
                          class="btn btn-custom btn-upload"
                          upload-button
                          id="img-upload-button"
                          url="/api/map/upload"
                          on-error="mapCtr.onImageUploadError(response)"
                          on-success="mapCtr.onImageUploadSuccess(response)">
                          Add up to 3 images for each location
                        </button>

                        <button type="form-control button"
                            class="btn btn-custom"
                            ng-show="mapCtr.showDeleteButton()"
                            ng-click="mapCtr.deleteLocation()">

                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                  </div>
                  <div class="left-column">



                    <div class="row">
                        <div ng-show="mapCtr.hasImage(0)" class="col-sm-4" >

                            <div class="photo-wrapper">
                                <div class="photo">
                                    <img class="img-thumbnail"
                                        ng-src="{{mapCtr.showImage(0)}}" />

                                    <span ng-click="mapCtr.deleteImage(0)"
                                        class="label label-inverse photo-label">
                                        <button type="form-control button" class="btn btn-black">
                                        <i class="glyphicon glyphicon-remove-circle glyphicon-lg"></i>
                                        </button>
                                    </span>

                                </div>
                            </div>

                        </div>
                        <div ng-show="mapCtr.hasImage(1)" class="col-sm-4" >

                            <div class="photo-wrapper">
                                <div class="photo">
                                    <img class="img-thumbnail"
                                        ng-src="{{mapCtr.showImage(1)}}" />

                                    <span ng-click="mapCtr.deleteImage(1)"
                                        class="label label-inverse photo-label">
                                        <button type="form-control button" class="btn btn-black">
                                        <i class="glyphicon glyphicon-remove-circle glyphicon-lg"></i>
                                        </button>
                                    </span>

                                </div>
                            </div>

                        </div>
                        <div ng-show="mapCtr.hasImage(2)" class="col-sm-4" >
                            <div class="photo-wrapper">
                                <div class="photo">
                                    <img class="img-thumbnail"
                                        ng-src="{{mapCtr.showImage(2)}}" />

                                    <span ng-click="mapCtr.deleteImage(2)"
                                        class="label label-inverse photo-label">
                                        <button type="form-control button" class="btn btn-black">
                                        <i class="glyphicon glyphicon-remove-circle glyphicon-lg"></i>
                                        </button>
                                    </span>

                                </div>
                            </div>

                        </div>

                    </div>

                  </div>
                </div>
            </div>
        </form>
    </div> <!-- /container -->